<%
title = 'タイトル';
description = '説明文';
rootPath = './assets/';
rootPathCss = './assets/css';
noindex = false;//noindexの制御;
url = 'https://static.chunichi.co.jp/chunichi/pages/event/domedodge/';
%>

<!DOCTYPE html>
<html lang="ja">
<%- include(rootPath + '_head') %>

<body class="page">

<!-- <%- include(rootPath + '_header') %> -->
<!--contents-->
<div id="contents" class="contents">
  <!--大吉-->
    <!-- <section class="wrapper dai">
      <div class="omikuji_frame">
        <div class="omikuji_inner">
          <picture class="omikuji_ttl">
            <source
            media="(min-width: 1000px)"
            type="image/webp"
            width="380"
            height="118"
            srcset="<%- rootPath %>img/item_01-ttl_min.webp 1x,<%- rootPath %>img/item_01-ttl.webp 2x"
            >
            <source
            media="(max-width: 767.98px)"
            type="image/webp"
            width="250"
            height="78"
            srcset="<%- rootPath %>img/item_01-ttl_minSp.webp 1x,<%- rootPath %>img/item_01-ttl_min.webp 2x"
            >
            <img 
            src="<%- rootPath %>img/item_01-ttl.webp"
            alt="大吉"
            width="581"
            height="180"
            decoding="async"
            loading="lazy"
            >
          </picture>
          <p class="hiraPro">
            いつも前向きな気持ちで物事にあたれば、<br class="br_pc"><wbr>どんどん運気が向上していきます。<br>
            仕事運特によし！順調に伸び進みます。<br>
            心身ともに健やかな年になるでしょう。<br>
            ブリの照り焼きを食べれば、<br class="br_pc">出世・昇進<wbr>は間違いなし<span class="Q">?!</span>
          </p>
        </div>
      </div>
    </section> -->
</div>
<!--contents-->
<!--lottie test-->
<!-- <lottie-player
  id="firstLottie"
  src="https://assets2.lottiefiles.com/packages/lf20_i9mxcD.json"
  style="width:400px; height: 400px;"
>
</lottie-player> -->
<!--lottie test-->
<!-- animated.css test -->
<img src="assets/img/item02.jpg" width="600" height="400">
<img src="assets/img/item02.jpg" width="600" height="400">
<img src="assets/img/item02.jpg" width="600" height="400">
<img src="assets/img/item02.jpg" width="600" height="400">
<img src="assets/img/item02.jpg" width="600" height="400">
<img src="assets/img/item02.jpg" width="600" height="400">

<h4 class="animate__animated trigger up mt-40">This is text to test whether "animated css" is being used correctly.</h4>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur dolorem temporibus unde in tempora facere harum nemo, nam, sunt dolor, libero sit perspiciatis ipsa. A officia quo placeat eaque sint.</p>
<!-- animated.css test -->


<%- include(rootPath + '_footer') %>

</body>
</html>