<header class="header">
  <div class="logo"><a href="<%- rootPath %>" id="LogoImg">ロゴ</a></div>
  <nav class="nav">
    <a href="<%- rootPath %>page_1/">ページ1</a>
    <a href="<%- rootPath %>page_2/">ページ2</a>
    <a href="<%- rootPath %>page_3/">ページ3</a>
    <a href="<%- rootPath %>page_4/">ページ4</a>
  </nav>
</header>